@charset "UTF-8";


body {
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
/*	padding-bottom:44px;	/*	This prevents the scroller to lock if the user swipes down outside of the screen.
							 	NOT needed if in home screen mode and on Android. */
}

#header2 {
	width:100%;
	height:45px;
	line-height:45px;
	padding:0 10px;
	font-size:14px;
	text-align: left;
	color:#f3f3f3;
	text-decoration:none;
	font-weight: normal;
}

#footer {
	 margin:-70px 0 0 0;
	width:100%;
	height:48px;
	padding:0;
	border-top:1px solid #444;
}

#footer li {
	display:block;
	float:left;
}

#footer li {
	width:50%;
	text-align:center;
}

#footer a.remove {
	border-right:1px solid #333;
}

#footer a.add {
	border-left:1px solid #6a6a6a;
}

#footer a {
	display:block;
	text-decoration:none;
	font-size:12px;
	color:#eee;
	line-height:24px;
	text-shadow:0 -1px 0 #000;
}

#footer span {
	display:block;
	font-size:30px;
	font-weight:bold;
}

#wrapper {
	height:200px;		/* Of course you need to specify the object height */

	position:relative;	/* On older OS versions "position" and "z-index" must be defined (absolute | relative), */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */

	width:100%;
	background:#000;
	overflow:hidden;
}

#wrapper2 {
	height:200px;		/* Of course you need to specify the object height */

	position:relative;	/* On older OS versions "position" and "z-index" must be defined (absolute | relative), */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */

	width:100%;
	background:#000;
	overflow:hidden;
}

#scroller {
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);

	float:left;
	width:100%;
	padding:0;

/*	-webkit-box-shadow:0 0 8px #555;	/* Don't use box shadows, they slow down drastically CSS animations */
}

.scroller{
	padding:0;
	}

.scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

.scroller li {
	padding:0 10px;
	height:40px;
	line-height:40px;
	font-size:14px;
	display: block;
}

.scroller li > a {
	display:block;
}

.action{
	background:url(../images/instructions/actions.png) 0px 0px no-repeat;
	height:60px;
	margin:0;
	padding:0;
	
	}