<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.getting.started"
	version 	= "1.0.0">

	<name>Infiniti Test App</name>

	<description>
		Testing element for the infiniti app
	</description>

	<author href="http://kandan.com.au"
		email="michael.cooper@kandan.com.au">
		Michael Cooper
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://plugins.phonegap.com/ChildBrowser/2.0.1" />
	<preference name="orientation" value="landscape" />
</widget>