<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.getting.started"
	version 	= "1.0.0">

	<name>Infiniti-APP V1.0</name>

	<description>
		Testing element for the infiniti app
	</description>

	<author href="http://kandan.com.au"
		email="developer@kandan.com.au">
		Michael Cooper
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://plugins.phonegap.com/ChildBrowser/2.0.0" />
	<preference name="orientation" value="landscape" />
	<preference name="fullscreen" value="true" />
	
	 <!-- This is the whitelist. For ChildBrowser to work correctly you need to enable domains here -->
        <access origin="google.com" subdomains="true" />
        <access origin="phonegap.com" subdomains="true" />
		<key>ExternalHosts</key>
		<array>
		    <string>*</string>
			<string>*.google.com.au</string>
			<string>www.youtube.com</string>
			<string>m.youtube.com</string>
			<string>maps.google.co.nz</string>
			<string>173.194.66.94</string>
		</array>
</widget>